.header{
    background-color: #161616;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}
.carousel {
    height: 890px;
    margin-bottom: 60px;
}
.carousel {
    position: relative;
}
.carousel-indicators {
    position: absolute;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    margin-bottom: 14%;
    list-style: none;
    text-align: center;
}
.carousel-control {
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    height: 700px;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
ul, ol {
    margin-top: 0;
}
ol {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel .item {
    height: 890px;
    background-color: goldenrod;
}
.item >.active{
    height: 100%;
}
.carousel-inner>.item {
    display: none;
    position: relative;
    transition: .6s ease-in-out left;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 890px;
}
.carousel-inner>.active {
    text-align: center;
}
.carousel-caption {
    z-index: 10;
    margin-bottom: 32%;
    position: absolute;
    padding-top: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.but {
    margin-top: 6%;
}
.text-slide{
    font: bold 60px arial;
    color: white;
} 
@media screen and (min-width: 768px){
   .carousel-caption {
    left: 20%;
    right: 20%;
    padding-bottom: 10%;
    }
}
@media (min-width: 1200px){
    .container {
    width: 1170px;
    }
}
@media (min-width: 992px){
    .container {
    width: 970px;
    }
}
@media (min-width: 768px){
    .container {
    width: 750px;
    }
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.logo{
    margin-left: 4%;
    margin-bottom: 1%;  
}
.tabs{
    font-family: "Archivo";
    color:#079bef;
    padding-top: 2%;
    padding-right: 1%;
}
.tab > a{ 
    text-decoration: none;
    font: bold 12px arial;
    color: white; 
}
.tab > a:hover{
    color:#079bef;
    text-decoration: none;
}
.tab{
    font-size: 14px;
    padding-left: 1%;
    border-right: 1px solid white;
    text-align: center;
}
.name{
    font: bold 30px arial;
    color: #079bef;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 3%;
}
.form-actions{
    height: 30%;
    text-align: center;
    font: bold 24pt arial;
    position: relative;
    z-index: 1;
    top: -70%;
    color: #079AEF;
    border-radius: none;
}
.teacher-name{
    font: bold 20px arial;
    padding-bottom: 10%;
}
.utterance{
    text-align: center;
    position: relative;
    z-index: 2;
    top: -78%;
    font: bold 480% arial;
    color: white;
}
.teach{
    vertical-align: top;
    margin-top: -18%;
}
.form{
    font: normal 18px arial;
    top: 10%;
    margin-right: 8%;
}
.biography{
    margin-left: 2%;
}
.photo{
    margin-left: 5%;
}
.style-name{
    font: bold 16px arial;
    text-align: center;
    margin-left: 28%;
    margin-top: 5%;
}
.style{
    margin-left: 6%;
}
.video{
    height: 78%;
    background-color: black;
    margin-top: 30px;
}
.all{
    border: 1px solid white;
    font: bold 20px arial;
    margin-top: 25%;
    margin-left: -57%;
    text-align: center;
}
.btn-dark{
    color: white;
}
.text_footer{
    font: bold 12px arial;
    margin: 2%;
}


.span3{
    width: 23%;
    display: block;
    line-height: 1;
    margin-left: 0;
}
.carousel-inner {
    position: relative;
    height: 70%;
    overflow: hidden;
}
.ul{
    padding: 0;
    margin: 0 0 10px 25px;
}
